// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@0;1&family=Bellefair&family=Courgette&family=Montserrat:wght@600&display=swap');

//Page styling variables
$pageHeaderFont: 'Montserrat', sans-serif;
$pageParagraphFont: 'Archivo Narrow', sans-serif;

//Card styling variables
$cardHeaderFont: 'Bellefair', serif;
$cardParagraphFont: 'Courgette', cursive;

nav {
  font-family: $pageHeaderFont;
}

.pages h1, h2, h3{
  font-family: $pageHeaderFont;
}