$lightBeige: #F4F1DE;

.hero-banner {
  display: flex;
  justify-content: center;
  height: 427px;
  background: $lightBeige;
}

.text-banner {
  display: flex;
  justify-content: center;
  max-width: 700px;
  padding-top: 212px;
  text-align: center;
  letter-spacing: 0.15px;
}