.card {
  display: flex;
  flex-direction: row;
  width: 345px;
  height: 200px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 45px;
  margin-left: 20px;
  padding-right: 20px;

  background: #FFFFFF;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  list-style-type: none;
  cursor: pointer;
  
}

.card__info {
  display: flex;
  flex-direction: column;
  
}

.card__description {
  display: flex;
  margin-top: -15px;
}

.card__price {
  display: flex;
  font-weight: 600;
  margin-top: -8px;
  color: rgba(0, 0, 0, 0.87);
}

.card__image {
  display: flex;
  align-self: flex-end;
  width: 242px;
  height: 242px;
  margin-bottom: 10px;
  margin-left: -45px;
  margin-right: -30px;

}