h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 58px;

}
.hero-banner {

  // width: 1440px;
  height: 427px;
  left: 0px;
  top: 0px;
  background: #FFF4E8;
}

.text-banner {
  display: flex;
  justify-content: center;
  // align-content: center;


  // position: absolute;
  // max-width: 627px;
  height: 127px;
  // left: 407px;
  padding-top: 212px;
  text-align: center;
  letter-spacing: 0.15px;
}