.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  // max-width: 1400px;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;

}