@import '../App.scss';

Header {
  position: fixed;
  background-color: transparent;
}

.nav-container {
  display: flex;
  padding: 25px;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  font-family: $pageHeaderFont;
  font-size: 20px;
  padding: 1.5em;
}
.nav-link {
  padding-right: 25px;
  text-decoration: none;
  color: $navTextColour;
}

.nav-link:hover {
  color: $lightPink;
}

.logo {
  padding-left: 55px;
  height: 100px;
}
.user-icons {
  display: flex;
  align-items: center;
  padding: 1.5em 55px;
}

.icon {
  padding-right: 15px;
  color: #000;
  font-size: 20px;
}

.nav-icon {
  padding-left: 5px;
  height: 20px;
}