@import '../App.scss';

Header {
  display: flex;
  background-color: $lightBlue;
  padding: 25px;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  font-family: $pageHeaderFont;
  padding: 1.5em;
}
.nav a {
  padding-right: 15px;
  text-decoration: none;
  color: $navTextColour;
}

.nav a:hover {
  color: $lightPink;
}

.logo {
  padding-left: 55px;
  height: 100px;
}
.nav-icons {
  display: flex;
  align-items: center;
  padding: 1.5em 55px;
}

.icon {
  padding-right: 15px;
  color: #000;
  font-size: 20px;
}